body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/imagen/rickymorty\ 1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* * {
    font-family: 'Raleway', sans-serif;
}
h1{
    font-weight: 500;
}

.principal-search {
    height: 100vh;
}
.container-header{
    background-color: #ffffffe6;
    height: 500px;
}

.botones{
    background-color:#344D67!important;
}
.botones:hover, .boton:hover, .btn-active{
    background-color: #6ECCAF !important;
    color: #344D67!important;
    width: fit-content;
    
}
.bg-blue{
    background-color:#344d67;
    position: fixed;
    top: 0%;
}
a{
    color: #6ECCAF !important;
}*/
.cards-section{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.card{
    width: fit-content !important;
    background-color: #223142!important;
    color:whitesmoke;
}
.card>img{
    width: 100%;

}


.list-group{
    width: 350px!important;
}
.list-group-item{
    background-color: transparent !important;
    color: whitesmoke !important;
    font-size: 1.2rem;
    
}

.list-group-item:hover{
    background-color: #6ECCAF !important;
    color: #344D67!important;
    cursor: pointer;
}
.section-filters{
    color:#6ECCAF ;
}
.form-switch{
    color:#6ECCAF ;
    background-color: #344D67;
    border-radius: 8px;
}

.form-switch .form-check-input{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: #b1f0dc ;
}
.form-switch .form-check-input:checked{
    background-color: #223142; 
}
.form-check-input:checked+ .form-check-label{
    color: whitesmoke;
}
.main-contact-div{
    
    background-color: rgba(92, 117, 146,0.9);
    
}
.colorBLue{
    color:#223142!important;
}
.main-contact{
    height: 100vh;
}
.colorW{
    color: whitesmoke !important;
}
@media(max-width:1300px){

    .cards-section{
        display: grid;
		grid-template-columns:repeat(2,0.25fr);
	
        
	}
}
@media(max-width:870px){
	.cards-section{
        display: grid;
		grid-template-columns: repeat(1,0.5fr);
       
	}
}


